.login-wrapper {
  background-color: #e6e6e6;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  background-color: #ffffff;
  width: 380px;
  padding: 40px 30px;
  border-radius: 8px;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-logo {
  width: 180px;
  margin-bottom: 20px;
}

.login-title {
  font-weight: bold;
  margin-bottom: 10px;
  color: #c4004f;
}

.custom-input {
  background-color: #f9c8cf;
  border-radius: 50px;
  overflow: hidden;
}

.icon-box {
  background-color: transparent;
  border: none;
  color: #000;
  font-size: 18px;
}

.input-field {
  background-color: transparent !important;
  border: none !important;
  padding-left: 5px;
}

.input-field:focus {
  box-shadow: none !important;
}

.login-btn {
  background-color: #f7c9cd;
  border: none;
  width: 100%;
  padding: 10px;
  border-radius: 50px;
  font-weight: bold;
  color: #c0004f;
}

.login-btn:hover {
  background-color: #f4b7bd;
}