/* MAIN CONTAINER */
.container-manageuser {
  display: flex;
  width: 100%;
  height: 100vh;
  background: #fff;
  overflow: hidden;
}

/* SIDEBAR */
.sidebar {
  width: 220px;
  background: #f3cdcd;
  display: flex;
  flex-direction: column;
  padding: 20px 15px;
  position: fixed; /* BIAR TETAP */
  left: 0;
  top: 0;
  bottom: 0;
}

.logo-img {
  width: 70px;
}

.admin-text {
  font-size: 20px;
  font-weight: bold;
  margin-top: 8px;
  text-align: center;
}

/* MENU */
.sidebar-menu {
  margin-top: 25px;
}

.menu-title {
  font-size: 14px;
  margin-bottom: 10px;
}

.menu-item {
  width: 100%;
  background: #ffffff;
  border: none;
  padding: 10px;
  border-radius: 6px;
  text-align: left;
  margin-bottom: 10px;
  font-size: 15px;
  cursor: pointer;
}

.menu-item.active {
  background: #e8bcbc;
}

/* LOGOUT */
.logout-section {
  position: absolute;
  bottom: 20px;
  left: 15px;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  cursor: pointer;
}

.logout-text {
  font-size: 16px;
  color: #c20043;
}

.logout-icon {
  color: #c20043;
  font-size: 20px;
}

/* MAIN CONTENT */
.main-content {
  margin-left: 220px; /* PENTING!!! */
  width: calc(100% - 220px);
  display: flex;
  flex-direction: column;
}

/* TOPBAR */
.topbar {
  background: #f3e4e4;
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 40px;
}

.topbar-right {
  display: flex;
  align-items: center;
  gap: 12px;
}

.topbar-username {
  font-size: 20px;
  color: #a40045;
}

.topbar-icon {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background: #a40045;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

/* CONTENT BOX */
.content-box {
  padding: 25px 40px;
}

.title-manage {
  font-size: 25px;
  color: #c20043;
  font-weight: bold;
  margin-bottom: 20px;
}

/* TOMBOL TAMBAH USER */
.tambah-user-btn {
  background: none;
  border: none;
  color: #c20043;
  font-size: 20px;
  float: right;
  margin-top: -55px;
  cursor: pointer;
}

/* TABLE */
.user-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 35px;
}

.user-table thead {
  background: #f9c9c9;
  height: 45px;
}

.user-table th {
  padding-left: 15px;
  font-size: 15px;
}

.user-table tbody tr {
  background: #fdeaea;
  height: 52px;
  border-bottom: 1px solid #f5dcdc;
}

.checkbox {
  margin-right: 15px;
}

.username-text {
  font-size: 15px;
}

/* ACTION ICONS */
.action-icons {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  padding-right: 20px;
}

.icon {
  font-size: 18px;
  color: #cc0044;
  cursor: pointer;
}

/* FOOTER */
.footer {
  text-align: center;
  padding: 15px;
  background: #f3e4e4;
  margin-top: auto;
  font-size: 14px;
  color: #c20043;
}
