.menu-card {
  cursor: pointer; /* Pointer cursor untuk interaktif */
}

.menu-card:hover .card-title {
  color: #ffd4d4 !important; /* Gold highlight pada judul saat hover */
  transition: 0.5s;
}


